body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0 auto;
}

.buslist {
  width: 360px;
  height: 700px;
  background-color: white;
  padding-top: 95px;
}


h1 { 
  font-size: 20px;
  color: white;
  float: left;
  font-display: roboto;
}

h2 {
  font-size: 16px;
  color: black;
  margin-left: 10px;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}

.statusbar{
  width: 360px;
  margin-bottom: 12px;
}

.statusbar img{
  width: 100%;
}

.footerimage {
  width: 360px;
}

.footerimage img{
  width: 100%;
}

nav {
  padding: 0px 0 20px 0px;
  position: fixed;
  background-color: black;
  width: 360px;
}

li.number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #16559F;
  background-color: #16559F;
  padding: .4rem;
  color: white;
  text-align: center;
  font-size: 14px;
}

li.reroutenumber {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid red;
  background-color: red;
  padding: .4rem;
  color: white;
  text-align: center;
  font-size: 16px;
}

li.outnumber {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 1px solid grey;
  background-color: grey;
  padding: .4rem;
  color: lightgrey;
  text-align: center;
  font-size: 16px;
}

ul.route {
  display: flex;
}

ul.route li {
  display: inline-block;
  margin: 11px;
  align-self: center;
}

li.data {
font-size: 15px;
font-weight: bolder;
width: 45%;
padding-left: 10px;
}

.subtitle {
  font-size: 13px;
  font-weight: lighter;
  color: #757575;
}

.reroutesub{
  font-size:13px;
  font-weight: lighter;
  color: red;
}
.outsub{
  font-size:13px;
  font-weight: lighter;
  color: #757575;
}

li.frequency {
  font-size: 14px;
  color: green;
  width: 25%;
}

ul li.outFrequency {
  font-size: 12px;
  color:  #757575;
  width: 25%;
  display: flex;
}

li.rerouteFreq {
  font-size: 14px;
  color:  red;
  width: 25%;
}

.navicons {
  float: left;
  color: white;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 16px;
}

.naviconsright {
  float: right;
  color: white;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 16px;
}

.outFrequency i{
  font-size: 20px;
  align-self: center;
  padding-right: 5px;
}

.resumetext {
  align-self: center;
}
